body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(0, 13%, 9%);
}

.gallery-container {
    text-align: center;
}

.gallery {
    position: relative;
    display: inline-block;
}

.gallery img {
    width: 100%; 
    height: auto; 
    max-width: 1200px; 
    max-height: 800px; 
    display: block;
}


button {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}


.prev {
    left: 10px; 
}

.next {
    right: 10px; 
}


.thumbnail-container {
    margin-top: 10px;
}


.thumbnail {
    width: 80px; 
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 5px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.thumbnail:hover {
    border: 2px solid #333;
}